{{extend 'template.html'}} 
{{
def file(author_name):
    name = (author_name).split(" ")
    surname = name[-1]
    surname = surname.lower()
    return surname + ".jpg"
}}
      <h3 style="margin-top: -10px;">{{=author.name}}</h3>
      <div>
        
        <p><b>BIO:</b> {{=author.bio}} </p>
        <img width=200 height= 200 src="/modern_library/static/author_imgs/{{=file(author.name)}}">
		
        </br></br></br>
        <b>Available Books of {{=author.name}}:</b> </br></br>
		{{for book in books:}}
           <a href="/modern_library/default/book/{{=book.id}}">{{=book.title}} </a> </br>
		{{pass}}
      </div>