{{extend 'template.html'}}

{{for history in history:}}

   <h3>Muğla</h3>
  <div style="display:block;text-align:justify;line-height:25px;"> <span>{{=history.history}}</span>
  
  </div>
   
  <img width=200 src="/modern_library/static/history_img/bodrum.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/marmaris.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/milas.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/lake_bafa.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/fethiye.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/oludeniz.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/mugla.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/butterfly_valley.jpg" float="left">
  <img width=200 src="/modern_library/static/history_img/fethiye1.jpg" float="left">
  
   
{{pass}}