

        
        <h4>Offerings</h4>
        <ul class="side-nav">
          
          <li><a href="/modern_library/default/series">Series</a></li>
          <li><a href="/modern_library/default/lib">History of Library</a></li>
          <li><a href="#">Jobs & Fellowships</a></li>
        </ul>
        <h4>Quotes</h4>
        <ul class="side-nav">
          <li><a href="/modern_library/default/shakespeare_quotes">Shakespeare</a></li>
          <li><a href="/modern_library/default/bestseller_quotes">From Bestsellers</a></li>
          <li><a href="/modern_library/default/TLOTR_quotes">The Lord Of The Rings</a></li>
        </ul>
  